.base-container {
  background: #3c6382;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container {
  background: #60a3bc;
  border: 0;
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 65px;
  padding-right: 65px;
}

#login-form label {
  padding: 10px;
  padding-left: 0;
}

#login-form input {
  width: 240px;
  height: 40px;
  border: 0;
}

#login-form input:focus {
  outline: none;
}

.button-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login-button {
  width: 110px;
  height: 50px;
  text-align: center;
  border: 0;
  border-radius: 10px;
  outline: none;
}

a:hover {
  text-decoration: none;
}

.error-section {
  font-size: 1.05rem;
  font-weight: 500;
  color: #8854d0;
  margin-top: 20px;
  margin-bottom: -10px;
}
